# Configuration file

blacklist {
    # A blacklist of enchantments that are not available in E+. Format is just enchantmentid. [default: ]
    S:blacklistedEnchantments <
        futuremc:riptide
        futuremc:channeling
        futuremc:impaling
        futuremc:loyalty
        somanyenchantments:mathematics
        somanyenchantments:history
        somanyenchantments:science
        somanyenchantments:pe
        somanyenchantments:english
        somanyenchantments:atomicdeconstructor
        somanyenchantments:strafe
        cofhcore:vorpal
        cofhcore:insight
        somanyenchantments:luckmagnification
        somanyenchantments:rune_armorpiercing
        somanyenchantments:advancedluckofthesea
        somanyenchantments:advancedlure
        somanyenchantments:penetratingedge
        somanyenchantments:strengthenedvitality
        somanyenchantments:ashdestroyer
        somanyenchantments:swiper
        somanyenchantments:winter
        hermitsarsenal:lucky
        mujmajnkraftsbettersurvival:vampirism
        mujmajnkraftsbettersurvival:agility
        mujmajnkraftsbettersurvival:arrowrecovery
        mujmajnkraftsbettersurvival:assassinate
        mujmajnkraftsbettersurvival:bash
        mujmajnkraftsbettersurvival:blast
        mujmajnkraftsbettersurvival:blockpower
        mujmajnkraftsbettersurvival:combo
        mujmajnkraftsbettersurvival:disarm
        mujmajnkraftsbettersurvival:heavy
        mujmajnkraftsbettersurvival:highjump
        mujmajnkraftsbettersurvival:diamonds
        mujmajnkraftsbettersurvival:reflection
        mujmajnkraftsbettersurvival:tunneling
        mujmajnkraftsbettersurvival:smelting
        mujmajnkraftsbettersurvival:education
        mujmajnkraftsbettersurvival:versatility
        mujmajnkraftsbettersurvival:multishot
        mujmajnkraftsbettersurvival:range
        mujmajnkraftsbettersurvival:rapidfire
        mujmajnkraftsbettersurvival:spellshield
        mujmajnkraftsbettersurvival:penetration
        mujmajnkraftsbettersurvival:fling
        mujmajnkraftsbettersurvival:vitality
        mujmajnkraftsbettersurvival:weightless
        uniquee:vitae
        uniquee:warriorsgrace
        uniquee:alchemistsgrace
        uniquee:naturesgrace
        uniquee:ifrits_grace
        cofhcore:soulbound
     >

    # A blacklist of items that can't be enchanted with this mod. Format is itemid#meta [default: ]
    S:blacklistedItems <
        conarm:boots
        tconstruct:crossbow
        tconstruct:scythe
        tconstruct:lumberaxe
        tconstruct:excavator
        tconstruct:hammer
        tconstruct:kama
        tconstruct:hatchet
        tconstruct:mattock
        tconstruct:shovel
        tconstruct:pickaxe
        tconstruct:crossbow
        tconstruct:longbow
        tconstruct:shortbow
        tconstruct:cleaver
        tconstruct:battlesign
        tconstruct:frypan
        tconstruct:rapier
        tconstruct:longsword
        tconstruct:broadsword
        tconstruct:shuriken
        tconstruct:bolt
        tconstruct:arrow
        conarm:chestplate
        conarm:boots
        conarm:leggings
        conarm:helmet
     >
}


general {
    # The base cost to use for the enchantment formula.  [range: 1 ~ 1024, default: 45]
    I:baseCost=45

    # A number used when calculated enchantment cost. This number is treated as a % based factor. 0.30 = 30% of the original cost. 1.5 = 150% of the original cost. [range: 0.0 ~ 1024.0, default: 1.0]
    S:costFactor=2.0

    # A factor used to make curse enchantments like vanishing cost more to apply. By default they cost 3X more. [range: 0.0 ~ 1024.0, default: 3.0]
    S:curseFactor=3.0

    # The amount of enchantment power a floating book should give. Bookshelfs have 1 power. [range: 0.0 ~ 1024.0, default: 1.0]
    S:floatingBookPower=1.0

    # A factor used to make treasure enchantments like mending cost more to apply. By default they cost 4X more. [range: 0.0 ~ 1024.0, default: 4.0]
    S:treasureFactor=4.0
}


